*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:silver;
}

#membrete{
background:#9C9C9B;
display:flex;
    flex-direction:row;
    padding:2% 3%;
    
}

#logo{
    height:150px;
    margin-right:20px;
}

#logo img{
    height:inherit;
}

#nombre{
    font-family: 'Poppins', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-size:13px;
    color:#0d6b34;
    text-shadow: 0 0 3px #C12427;
    margin:auto;
}

#nav{
    padding:0 2px;  
}

#nav ul{
    display:flex;
    list-style:none;
}

#nav ul li{
    padding: 0 2%;
    margin:2%;
}

#nav ul li a{
    text-decoration:none;
    color:#000;
}

#nav ul li a:hover{
    text-decoration:none;
    color:purple;
    text-shadow: 0 0 3px blue;;
}

main{
    background-color: pink;
    height:300px;
}

footer{
    background: olive;
    height:50px;
}